.error {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 44rem;

  &-title {
    color: $light-main;
    font-size: 4rem;
    font-family: Lato-light;
  }

  &-mess {
    font-size: 2.6rem;
    width: 30rem;
  }

  &-link {
    height: 1.4 * $link-btn-height;
    width: 5 * $link-btn-height;
    margin: 0;
    img {
      height: 1.4 * $link-btn-height;
    }

    h2 {
      font-size: 4rem;
    }
  }
}
