$white: #fafaff;
$black: #1e1a1d;
$contrast-middle: #44c1ba;
$contrast-lighter: #c884a6;
$contrast-darker: #531cb3;
$light-main: #3587a4;
$toned-down-main: #d7ecfe;
$toned-down-optional: #4e878c;

$link-btn-height: 4rem;

@font-face {
  font-family: Pacifico;
  src: url('../assets/pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family: Lato-regular;
  src: url('../assets/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-bold;
  src: url('../assets/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-light;
  src: url('../assets/lato/Lato-Light.ttf');
}
