@import './_variable.scss';

$link-btn-height: 4rem;

:root {
  font-size: 16px;
  font-family: Lato-regular;
}

@media (max-width: 600px) {
  :root {
    font-size: 2.6vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: $white;
}

.nav {
  margin: 1.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  &-section {
    display: flex;
  }
}

.nav-link {
  display: flex;

  background-color: $contrast-middle;
  border-radius: 1.2rem;
  height: $link-btn-height;
  color: $white;
  min-width: 3.5 * $link-btn-height;
  margin-right: 1rem;

  &-img {
    height: $link-btn-height;
  }

  h2 {
    font-size: 2.4rem;
    margin: auto;
  }
}

.link-one-item {
  justify-content: center;
}

@media (max-width: 220px) {
  .nav-link {
    margin-top: 10px;
  }

  .nav-section {
    flex-direction: column;
  }
}

@import './_about.scss';
