@font-face {
  font-family: Pacifico;
  src: url("../assets/pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Lato-regular;
  src: url("../assets/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-bold;
  src: url("../assets/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-light;
  src: url("../assets/lato/Lato-Light.ttf");
}

:root {
  font-size: 12px;
  font-family: Lato-regular;
}

@media (max-width: 600px) {
  :root {
    font-size: 9px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafaff;
}

.nav {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #44c1ba;
  border-radius: 1.2rem;
  height: 4rem;
  color: #fafaff;
  min-width: 12rem;
  margin: 0 1rem;
}

.nav-link-img {
  height: 4rem;
}

.nav-link h2 {
  font-size: 3rem;
  margin: 2.6rem;
}

.link-one-item {
  justify-content: center;
}
