@font-face {
  font-family: Pacifico;
  src: url("../assets/pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Lato-regular;
  src: url("../assets/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-bold;
  src: url("../assets/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-light;
  src: url("../assets/lato/Lato-Light.ttf");
}

:root {
  font-size: clamp(6px, 2.6vw, 14px);
  font-family: Lato-regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafaff;
}

.nav {
  margin: 1.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav-section {
  display: flex;
}

.nav-link {
  display: flex;
  background-color: #44c1ba;
  border-radius: 1.2rem;
  height: 4rem;
  width: 14rem;
  color: #fafaff;
  margin-right: 1rem;
}

.nav-link img {
  height: 4rem;
}

.nav-link h2 {
  font-family: lato-light;
  font-size: 2.4rem;
  margin: auto;
}

.link-one-item {
  justify-content: center;
}

@media (max-width: 220px) {
  .nav-link {
    margin-top: 10px;
  }
  .nav-section {
    flex-direction: column;
  }
}

.error {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 44rem;
}

.error-title {
  color: #3587a4;
  font-size: 4rem;
  font-family: Lato-light;
}

.error-mess {
  font-size: 2.6rem;
  width: 30rem;
}

.error-link {
  height: 5.6rem;
  width: 20rem;
  margin: 0;
}

.error-link img {
  height: 5.6rem;
}

.error-link h2 {
  font-size: 4rem;
}
