@font-face {
  font-family: Pacifico;
  src: url("../assets/pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Lato-regular;
  src: url("../assets/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-bold;
  src: url("../assets/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-light;
  src: url("../assets/lato/Lato-Light.ttf");
}

:root {
  font-size: clamp(6px, 2.6vw, 14px);
  font-family: Lato-regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafaff;
}

.nav {
  margin: 1.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav-section {
  display: flex;
}

.nav-link {
  display: flex;
  background-color: #44c1ba;
  border-radius: 1.2rem;
  height: 4rem;
  width: 14rem;
  color: #fafaff;
  margin-right: 1rem;
}

.nav-link img {
  height: 4rem;
}

.nav-link h2 {
  font-family: lato-light;
  font-size: 2.4rem;
  margin: auto;
}

.link-one-item {
  justify-content: center;
}

@media (max-width: 220px) {
  .nav-link {
    margin-top: 10px;
  }
  .nav-section {
    flex-direction: column;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-input {
  position: relative;
  color: #c884a6;
  margin-top: 2rem;
  width: 28rem;
  font-size: 2.6rem;
  border: 0;
  outline: 0;
  background-color: #fafaff;
}

.home-input ::placeholder {
  color: rgba(30, 26, 29, 0.68);
}

.home-input-line {
  width: 28rem;
  height: 1px;
  background-color: rgba(30, 26, 29, 0.68);
  box-shadow: 0px 3px 6px rgba(30, 26, 29, 0.81);
}

.loading {
  margin-top: 8rem;
}

.loading img {
  height: 10rem;
  animation: rotation 2s infinite linear;
}
